:root {
  font-size: 16px;
}

.add_task {
  text-align: center;
  margin: 5rem auto;
}

.list_container {
  text-align: center;
}

.list button {
  margin-left: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.list button:nth-child(2) {
  border: none;
  color: red;
}

.list button:nth-child(2):hover {
  text-decoration: red underline;
}

.list button:nth-child(3):hover {
  text-decoration: black underline;
}

.list {
  margin: 3rem auto;
}
